.form-control, .form-select {
    background-color: #ffffff !important;
    color: #0a2e4c !important;
    border: 1px solid #ced4da !important;
}

.form-label {
    color: #0a2e4c;
}

.text-justify {
    color: #0a2e4c;
}