<div class="welcome-page">
  <video autoplay muted loop class="background-video">
    <source src="assets/SIA_Video_investigacion.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="button-container">
    <button (click)="navigateTo('investigacion')"><span class="highlight-text">Investigación</span></button>
    <button (click)="navigateTo('tablero-indicadores/investigacion')"><span class="highlight-text">Tablero</span> de Indicadores</button>
  </div>
</div>