<div class="welcome-page">
  <video autoplay muted loop class="background-video">
    <source src="assets/video_inicio3.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="button-container">
    <button (click)="navigateTo('users')"><span class="highlight-text">Gestión</span> de Usuarios</button>
    <button (click)="navigateTo('investigacion')"><span class="highlight-text">Investigación</span></button>
    <button (click)="navigateTo('extension')"><span class="highlight-text">Extensión</span></button>
    <button (click)="navigateTo('login')"><span class="highlight-text">SGD</span> Sistema de Gestión Docente</button>
    <button (click)="navigateTo('tablero-indicadores/investigacion')"><span class="highlight-text">Tablero</span> de Indicadores</button>
  </div>
</div>
