.sidebar-with-lines {
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-with-lines::before,
.sidebar-with-lines::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #f7b733;
}

.sidebar-with-lines::before {
  right: 8px;
}

.sidebar-with-lines::after {
  right: 0;
}

/* Double line below the logo */
a.d-flex.justify-content-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none + hr {
  border-top: 4px double #ffb90b !important;
}
