<div class="dashboard-main-container" style="display: flex; justify-content: center; align-items: center; gap: 20px; padding-top: 60px;">
  <div class="buttons-container left-buttons" style="display: flex; flex-direction: column; gap: 10px;">
    <button class="dashboard-button short-button" (click)="animateDoll('grupos')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Grupos de</span>
          <span class="highlight-text">Investigación</span>
        </div>
        <img src="assets/grupos.png" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button short-button" (click)="animateDoll('semilleros')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Semilleros</span>
          <span class="highlight-text">Investigación</span>
        </div>
        <img src="assets/semilleros.png" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
  </div>
  <div class="doll-container" [ngClass]="dollAnimation" style="flex-shrink: 0;">
    <video autoplay playsinline class="doll-video" style="display: block; margin: 0 auto;" #videoRef (ended)="handleVideoEnded()">
      <source src="assets/inicio6.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="buttons-container right-buttons" style="display: flex; flex-direction: column; gap: 10px;">
    <button class="dashboard-button short-button" (click)="animateDoll('revistas')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Revistas</span>
          <span class="highlight-text">Científicas</span>
        </div>
        <img src="assets/revista.jpg" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button short-button" (click)="animateDoll('produccion')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Producción</span>
          <span class="highlight-text">Científica</span>
        </div>
        <img src="assets/produccion.png" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
  </div>
</div>
