<div class="dashboard-main-container">
  <div class="buttons-container">
    <button class="dashboard-button" (click)="animateDoll('grupos')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Grupos de</span>
          <span class="highlight-text">Investigación</span>
        </div>
        <img src="assets/grupos.png" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button" (click)="animateDoll('semilleros')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Semilleros</span>
          <span class="highlight-text">Investigación</span>
        </div>
        <img src="assets/semilleros.png" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button" (click)="animateDoll('revistas')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Revistas</span>
          <span class="highlight-text">Científicas</span>
        </div>
        <img src="assets/revista.jpg" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button" (click)="animateDoll('produccion')">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Producción</span>
          <span class="highlight-text">Científica</span>
        </div>
        <img src="assets/produccion.png" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
  </div>
  <div class="doll-container" [ngClass]="dollAnimation">
    <video autoplay muted loop playsinline class="doll-video">
      <source src="assets/inicio.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
