<div class="dashboard-main-container">
  <div class="buttons-container">
    <button class="dashboard-button" (mouseenter)="animateDoll('grupos')" (mouseleave)="stopDollAnimation()">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Grupos de</span>
          <span class="highlight-text">Investigación</span>
        </div>
        <img src="assets/investigacion-illustration.svg" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button" (mouseenter)="animateDoll('semilleros')" (mouseleave)="stopDollAnimation()">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Semilleros</span>
          <span class="highlight-text">Investigación</span>
        </div>
        <img src="assets/investigacion-illustration.svg" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button" (mouseenter)="animateDoll('revistas')" (mouseleave)="stopDollAnimation()">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Revistas</span>
          <span class="highlight-text">Científicas</span>
        </div>
        <img src="assets/investigacion-illustration.svg" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
    <button class="dashboard-button" (mouseenter)="animateDoll('produccion')" (mouseleave)="stopDollAnimation()">
      <div class="button-content">
        <div class="button-text">
          <span class="small-text">Producción</span>
          <span class="highlight-text">Científica</span>
        </div>
        <img src="assets/investigacion-illustration.svg" alt="Investigacion" class="button-illustration" />
      </div>
    </button>
  </div>
  <div class="doll-container" [ngClass]="dollAnimation">
    <img src="assets/doll.png" alt="Doll" class="doll-image" />
  </div>
</div>
