<div class="card">
    <div class="card-body">
      
      
      <form [formGroup]="otrasEntidadesForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
          <!-- Primera fila -->
          <div class="col-md-6">
            <label class="form-label">Año</label>
            <input type="date" formControlName="ano" class="form-control" [class.is-invalid]="isInvalid('ano')">
          </div>
  
          <div class="col-md-6">
            <label class="form-label">Semestre</label>
            <select formControlName="semestre" class="form-select" [class.is-invalid]="isInvalid('semestre')">
              <option value="">Seleccione semestre</option>
              <option *ngFor="let sem of semestres" [value]="sem">{{sem}}</option>
            </select>
          </div>
  
          <!-- Segunda fila -->
          <div class="col-md-6">
            <label class="form-label">Código Unidad Organizacional</label>
            <input type="text" formControlName="codigoUnidad" class="form-control" 
                   [class.is-invalid]="isInvalid('codigoUnidad')" maxlength="30">
          </div>
  
          <div class="col-md-6">
            <label class="form-label">Código Servicio</label>
            <input type="text" formControlName="codigoServicio" class="form-control" 
                   [class.is-invalid]="isInvalid('codigoServicio')" maxlength="15">
          </div>
  
          <!-- Tercera fila -->
          <div class="col-12">
            <label class="form-label">Nombre de Entidad</label>
            <input type="text" formControlName="nombreEntidad" class="form-control" 
                   [class.is-invalid]="isInvalid('nombreEntidad')" maxlength="200">
          </div>
  
          <!-- Cuarta fila -->
          <div class="col-md-6">
            <label class="form-label">ID País Entidad</label>
            <input type="number" formControlName="idPaisEntidad" class="form-control" 
                   [class.is-invalid]="isInvalid('idPaisEntidad')">
          </div>
  
          <div class="col-md-6">
            <label class="form-label">Sector Entidad</label>
            <select formControlName="idSectorEntidad" class="form-select" 
                    [class.is-invalid]="isInvalid('idSectorEntidad')">
              <option value="">Seleccione sector</option>
              <option *ngFor="let sector of sectoresEntidad" [value]="sector.id">
                {{sector.nombre}}
              </option>
            </select>
          </div>
  
          <!-- Botón de envío -->
          <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
